@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-family: 'Prompt', 'sans-serif';
}

.date-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.appbar {
    background-color: #325eff !important;
    color: #ffffff !important;
}

.back-appbar {
    min-height: 100px !important;
    /* border-bottom: 1px solid #d2d2d2; */
    padding-bottom: 5px !important;
}

.icon-color {
    color: #ffffff !important;
}

.navigation {
    color: #325eff !important;
}

.css-sxw2zh.Mui-selected {
    color: #325eff !important;
}

.css-1q2h7u5.Mui-selected {
    color: #325eff !important;
}

.css-sxw2zh {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 0px 12px;
    min-width: 80px;
    max-width: 168px;
    color: #cec8c8 !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color: #325eff !important;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none !important;
    color: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 0px 12px;
    min-width: 80px;
    max-width: 168px;
    color: #cec8c8 !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.sub-haeder {
    border-bottom: 1px solid #d2d2d2 !important;
}

.botton-text {
    text-transform: none !important;
    font-weight: bold !important;
    color: #c8c8c8 !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.botton-text-active {
    text-transform: none !important;
    font-weight: bold !important;
    color: #325eff !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.tab-text {
    text-transform: none !important;
}

.tab-main {
    color: #325eff !important;
    font-weight: bold !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #4970ff !important;
    font-weight: bold !important;
}

.css-1aquho2-MuiTabs-indicator {
    position: absolute;
    height: 4px !important;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #4970ff !important;
}

.css-ttwr4n {
    position: absolute;
    height: 4px !important;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #4970ff !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none !important;
    color: inherit;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    max-width: 360px;
    min-width: 80px;
    position: relative;
    min-height: 48px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 2px 6px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #e2dede !important;
}

.css-6s1xft-MuiGrid-root>.MuiGrid-item {
    padding-left: 0px !important;
}

.chart-icon {
    color: #4970ff !important;
}

.chart-icon-noactive {
    color: #e7e2e2 !important;
}

.card-icon {
    margin-right: 5px;
    color: #4970ff !important;
}

.card-summary {
    padding: 16px 16px 36px 16px !important;
    border: 1px solid #e2dede !important;
}

.read {
    border-right: 1px solid #b5b5b5 !important;
}

.card-title {
    font-size: 40px !important;
}

.cars-subtitle {
    color: #b5b5b5 !important;
}

.card-namm {
    color: #4970ff !important;
}

.bar-paper {
    padding-top: 25px !important;
    background-color: transparent !important;
}

.chip-icon {
    border: 1px solid #4970ff !important;
    background-color: transparent !important;
    color: #4970ff !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.chip-detail {
    border: 1px solid #4970ff !important;
    background-color: transparent !important;
    color: #4970ff !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    width: 100% !important;
    height: 40px !important;
    border-radius: 25px !important;
}

.chip-icon-fill {
    border: 1px solid #4970ff !important;
    background-color: #4970ff !important;
    color: #ffffff !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.css-ljcuss-MuiButtonBase-root-MuiChip-root:hover,
.css-ljcuss-MuiButtonBase-root-MuiChip-root.Mui-focusVisible {
    background-color: transparent !important;
}

.avatar-color {
    color: #ffffff;
    background-color: #000000 !important;
}

.list-card {
    border: 2px solid #e2dede !important;
    padding: 5px;
    border-radius: 10px;
}

.name-list {
    margin-top: 6px;
    border-right: 2px solid #e2dede !important;
}

.list-text {
    color: #4970ff !important;
}

.text-content {
    color: #e2dede !important;
}

.bar-detail {
    background-color: rgb(219, 245, 255) !important;
}

.date-text-month {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: rgb(219, 245, 255) !important;
    border-radius: 25px !important;
}

.view-all {
    color: #4970ff !important;
    padding-left: 25px !important;
}

.gift-detail {
    border-bottom: 1px solid #b5b5b5 !important;
}

.textfield {
    border-radius: 25px !important;
    border: 1px solid #b5b5b5 !important;
}

.btn-action {
    border: 1px solid #b5b5b5 !important;
    background-color: #ffffff !important;
    position: absolute !important;
    top: 32% !important;
    left: 46% !important;
}

.btn-action-week {
    border: 1px solid #b5b5b5 !important;
    background-color: #ffffff !important;
    position: absolute !important;
    top: 33% !important;
    left: 46% !important;
}

.btn-action-month {
    border: 1px solid #b5b5b5 !important;
    background-color: #ffffff !important;
    position: absolute !important;
    top: 28% !important;
    left: 46% !important;
}

.btn-action-down {
    border: 1px solid #b5b5b5 !important;
    background-color: #ffffff !important;
    position: absolute !important;
    top: 24% !important;
    left: 46% !important;
}

.css-13xfq8m-MuiTabPanel-root {
    padding: 2px !important;
}

.avatar-day-pass {
    background-color: transparent !important;
    color: #000000 !important;
}

.avatar-day-now {
    background-color: #4970ff !important;
    color: #ffffff !important;
}

.avatar-select {
    background-color: transparent !important;
    color: #4970ff !important;
    border: 1px solid #4970ff !important;
}

.avatar-far {
    background-color: transparent !important;
    color: #b5b5b5 !important;
}